//- p #{name}, você solicitou a recuperação de senha, por favor clique no link a seguir: 
//- <a href="#{link}"> #{link} </a>
//- <a href="//localhost:3000/auth/reset">Reset</a>
//- p #{token}

extends baseMessage

block content
   h1 Olá #{name}
    p Você solicitou um reset de senha. Segue o link para alteração de senha
    